In [1]:
import pandas as pd

In [3]:
# 2 main datatypes
series = pd.Series(['BMW', 'TESLA', 'HONDA'])

In [4]:
series

0      BMW
1    TESLA
2    HONDA
dtype: object

In [5]:
# series = 1- dimensional

In [7]:
colours = pd.Series(['RED', 'BLUE', 'WHITE'])
colours

0      RED
1     BLUE
2    WHITE
dtype: object

In [8]:
# Dataframe is 2 dimensional

In [9]:
car_data = pd.DataFrame({'car_make':series, 'car_colour':colours})
car_data

  car_make car_colour
0      BMW        RED
1    TESLA       BLUE
2    HONDA      WHITE

In [10]:
# Import Data

In [11]:
car_sales = pd.read_csv('car-sales.csv')

In [13]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [14]:
# exporting data

In [15]:
car_sales.to_csv('exported_car_sales.csv')

In [27]:
exported_cars = pd.read_csv('exported_car_sales.csv')

In [24]:
exported_cars

   Unnamed: 0    Make Colour  Odometer (KM)  Doors       Price
0           0  Toyota  White         150043      4   $4,000.00
1           1   Honda    Red          87899      4   $5,000.00
2           2  Toyota   Blue          32549      3   $7,000.00
3           3     BMW  Black          11179      5  $22,000.00
4           4  Nissan  White         213095      4   $3,500.00
5           5  Toyota  Green          99213      4   $4,500.00
6           6   Honda   Blue          45698      4   $7,500.00
7           7   Honda   Blue          54738      4   $7,000.00
8           8  Toyota  White          60000      4   $6,250.00
9           9  Nissan  White          31600      4   $9,700.00

In [30]:
exported_cars_no_index = pd.read_csv("exported_car_sales.csv", index_col=[0])

In [31]:
exported_cars_no_index

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00